._nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    background-color: var(--color-bg-primary);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

._logo_container {
    padding-left: 75px;
}

._logo_container h1 {
    color: var(--color-font-primary);
    font-size: 50px;
    font-weight: lighter;
}

._logo_container span {
    color: var(--color-font-secondary);
    font-family: 'Poppins-Light';
    font-size: 30px;
}

._buttons_container {
    display: flex;
    justify-content: end;
    margin-left: 30px;
}

._buttons_container a {
    color: var(--color-font-primary);
    font-family: 'Poppins-Light';
    font-size: 13px;
    margin-right: 55px;
    text-decoration: none;

    &:hover {
        color: var(--color-font-secondary);
    }
}

//Media

@media screen and (max-width: 820px) {
        ._buttons_container {
            display: none;
        }
        ._nav_container {
            height: 68px;
            width: 100%;
            justify-content: space-around;
        }
        .home_icon {
            height: 5vw;
            display: flex;
        }
}

@media screen and (min-width: 821px) {
        ._buttons_container {
            display: flex;
        }
        .home_icon {
            display: none;
        }
}

@media screen and (max-width: 391px) {
        ._nav_containe {
            width: 50vh;
        }
}