@font-face {
    font-family: 'monster-clubhouse';
    src: url('/assets/fonts/Monster-Clubhouse.ttf') format('openType');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('/assets/fonts/Poppins-Light.ttf') format('openType');
}

//Base

@import './_base';
